<header class="app-toolbar">
  <div class="toolbar-left">
    <span class="logo">
      <img src="assets/favicon.svg" alt="Mermaid Logo" />
      <span class="title">Mermaid Live Editor</span>
    </span>
    <span class="version">v{{mermaidVersion}}</span>
  </div>

  <div class="toolbar-center"></div>

  <div class="toolbar-right">
    <button class="icon-button" title="Sample Diagrams" (click)="openSampleDiagrams()">
      <span class="icon icon-category"></span>
    </button>

    <button class="icon-button" title="Share Diagram" (click)="shareDiagram()">
      <span class="icon icon-share"></span>
    </button>

    <div class="dropdown-container">
      <button class="icon-button" title="Export Diagram" (click)="toggleExportMenu()">
        <span class="icon icon-download"></span>
      </button>
      <div class="dropdown-menu" *ngIf="isExportMenuOpen">
        <button class="dropdown-item" (click)="exportDiagram('svg')">
          <span class="icon icon-code"></span>
          <span>Export SVG</span>
        </button>
        <button class="dropdown-item" (click)="exportDiagram('png')">
          <span class="icon icon-image"></span>
          <span>Export PNG</span>
        </button>
      </div>
    </div>
    <button class="icon-button" title="Toggle Theme" (click)="toggleTheme()">
       <span class="icon" [class.icon-light-mode]="isDarkTheme" [class.icon-dark-mode]="!isDarkTheme"></span>
    </button>

    <button class="send-button" (click)="saveToAccount()">
      <span class="icon icon-save"></span>
      <span class="button-text">Save</span>
    </button>
  </div>
</header>
