<!-- Fixed toolbar.component.html -->
<mat-toolbar color="primary" class="app-toolbar">
  <div class="toolbar-left">
    <span class="logo">
      <img src="assets/favicon.svg" alt="Mermaid Logo">
      <span class="title">Mermaid Live Editor</span>
    </span>
    <span class="version">v{{mermaidVersion}}</span>
  </div>

  <div class="toolbar-center"></div>

  <div class="toolbar-right">
    <button mat-icon-button matTooltip="Sample Diagrams" (click)="openSampleDiagrams()">
      <mat-icon>category</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Share Diagram" (click)="shareDiagram()">
      <mat-icon>share</mat-icon>
    </button>

    <!-- Export dropdown menu -->
    <button mat-icon-button matTooltip="Export Diagram" [matMenuTriggerFor]="exportMenu">
      <mat-icon>download</mat-icon>
    </button>

    <mat-menu #exportMenu="matMenu">
      <button mat-menu-item (click)="exportDiagram('svg')">
        <mat-icon>code</mat-icon>
        <span>Export SVG</span>
      </button>
      <button mat-menu-item (click)="exportDiagram('png')">
        <mat-icon>image</mat-icon>
        <span>Export PNG</span>
      </button>
    </mat-menu>

    <button mat-icon-button matTooltip="Toggle Theme" (click)="toggleTheme()">
      <mat-icon>{{isDarkTheme ? 'light_mode' : 'dark_mode'}}</mat-icon>
    </button>

    <button mat-flat-button color="accent" (click)="saveToAccount()">
      <mat-icon>save</mat-icon>
      <span class="button-text">Save</span>
    </button>
  </div>
</mat-toolbar>
