<div class="app-toolbar">
  <div class="toolbar-left">
  </div>

  <div class="toolbar-right">


    <button class="icon-button" title="Share Diagram" (click)="shareDiagram()">
      <span class="icon icon-share"></span>
    </button>

    <div class="dropdown-container">
      <button class="icon-button" title="Export Diagram" (click)="toggleExportMenu()">
        <span class="icon icon-download"></span>
      </button>
      <div class="dropdown-menu" *ngIf="isExportMenuOpen">
        <button class="dropdown-item" (click)="exportDiagram('svg')">
          <span class="icon icon-code"></span>
          <span>Export SVG</span>
        </button>
        <button class="dropdown-item" (click)="exportDiagram('png')">
          <span class="icon icon-image"></span>
          <span>Export PNG</span>
        </button>
      </div>
    </div>
    <button class="icon-button" title="Toggle Theme" (click)="toggleTheme()">
       <span class="icon" [class.icon-light]="isDarkTheme" [class.icon-dark]="!isDarkTheme"></span>
    </button>

    <button class="send-button" (click)="saveToAccount()">
      <span class="icon icon-save"></span>
      <span class="button-text">Save</span>
    </button>
  </div>
</div>
