<div class="editor-container">
  <div class="editor-header">
    <a class="editor-title" routerLink="/">Mermaid Editor</a>

    <div class="editor-tabs">
      <button
        [class.active]="editorMode === 'code'"
        (click)="onTabChange('code')">
        <span class="icon icon-code"></span>
        Code
      </button>
      <button
        [class.active]="editorMode === 'config'"
        (click)="onTabChange('config')">
        <span class="icon icon-settings"></span>
        Config
      </button>
    </div>

    <a href="https://mermaid.js.org/syntax/" target="_blank" class="docs-link" title="Mermaid Documentation">
      <span class="icon icon-book"></span>
      Documentation
    </a>
  </div>

  <div class="editor-content">
    <div class="resizable-panel editor-panel" [style.width.%]="editorWidth">
      <app-editor></app-editor>
    </div>

    <div class="resizer" (mousedown)="startResize($event)"></div>

    <div class="resizable-panel diagram-panel" [style.width.%]="100 - editorWidth">
      <app-diagram></app-diagram>
    </div>
  </div>
</div>
